body {
    padding: 0;
    margin: 0;
}

body, html {
    overflow-x: hidden;
}

.headline-text {
    position: relative;
    top: 5%;
    left: 3%;
    font-size: 30px;
}

#leadline {
    position: relative;
    height: 7%;
    background: #afd9ee;
}

#option-div {
    position: relative;
    height: 10%;
    background: #9acfea;
}

#list-div {
    position: relative;
    height: 80%;
    background: #ffffff;
}

/******************stock_list.html*************************/

#option-add-btn {
    float: left;
    font-size: 20px;
    height: 50px;
}

#option-search-btn {
    float: left;
    font-size: 20px;
    height: 50px;
}

#option-area {
    padding: 10px;
}

#option-set {
    position: relative;
}

.option-unit {
    float: left;
    padding: 5px;
    border: #265a88 1px solid;
    border-radius: 5px;
    margin: 5px;
}

.option-unit select {
    text-align: center;
    text-align-last: center;
    appearance: none;
    width: 20px;
    border: none;
    background: rgba(0, 0, 0, 0);
}

.option-unit input {
    width: 50px;
}

#option-select-div {
    display: none;
    position: absolute;
    top: 75px;
    left: 50%;
    width: 400px;
    /*width: 200px;
    background: #f7f7f7;*/
    z-index: 2;
    padding: 10px;
}

#option-select-div button {
    font-size: 20px;
}

#option-select {
    margin-bottom: 10px;
    font-size: 16px;
    height: 30px;
}

.stock-unit-lg {
    background: #ffffff;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px #2aabd2 inset;
}

.stock-code-lg {
    position: relative;
    top: 5px;
    font-size: 20px;
    color: #2aabd2;
}

.stock-name-lg {
    position: relative;
    font-size: 20px;
    color: #2aabd2;
}

.stock-price-lg {
    position: relative;
    font-size: 16px;
    color: #2aabd2;
    margin: 0;
}

.stockinfo-div {
    float: left;
    margin-right: 10px;
}

.indicator-div {
    float: left;
}

.indicator-name {
    float: left;
    margin: 5px;
}

.indicator-value {
    float: left;
    margin: 5px;
    color: #2aabd2;
}

.btn-style-1 {
    border: none;
    outline: none;
    color: #999999;
    background: rgba(0, 0, 0, 0);
}

.btn-style-1:hover {
    color: #265a88;
}

.btn-style-1:disabled {
    color: #d8d0d0;
}