<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="/static/bootstrap3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/search.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <style type="text/css">
        body{
            position: relative;
        }
        #content-div{
            position: relative;
            top: 5%;
            height: 600px;
            background: #afd9ee;
        }
        #content-div div{
            position: relative;
            height: 40%;
            width: 40%;
            background: #5bc0de;
        }
    </style>
</head>
<body>
<div id="leadline">
    <div class="headline-text">
        首页
    </div>
</div>
<div id="option-div">
    <div id="search-div" class="col-sm-offset-3 col-sm-6">
        <input id="search-input" type="text" autocomplete="off" name="searchInput" placeholder="关键词">
        <button class="glyphicon glyphicon-search"></button>
    </div>
</div>
    <div id="content-div" class="col-sm-offset-1 col-sm-10">
        <div id="content1" style="float: left; top: 10%">
            <a href="page_list.html" style="font-size: 30px">选股</a><br>
            <a href="">基本面</a><br>
            <a href="">技术</a>
        </div>
        <div id="content2" style="float: right; top: 10%">
            <a href="fund_pick.html" style="font-size: 30px">选基</a>
        </div>
        <div id="content3" style="float: left; top: 15%">
            <h5>区域3</h5>
        </div>
        <div id="content4" style="float: right; top: 15%">
            <h5>区域4</h5>
        </div>
    </div>
    <!--<div id="main" style="width: 600px; height: 400px"></div>-->
    <script src="/static/lib/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="/static/echarts/dist/echarts.js" type="text/javascript"></script>
    <script src="/static/bootstrap3.3.7/js/bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
        //var myChart = echarts.init(document.getElementById('main'));
        $("body").height(window.innerHeight);
        let option = {

        };
    </script>
</body>
</html>