<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/search.css">
    <link rel="stylesheet" href="/static/bootstrap3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.css">
    <title>多因子</title>
    <style type="text/css">
        #option-div label {
            font-size: 20px;
        }

        #selected-unit {

        }

        #stock-pool-div {
            float: left;
        }

        #indicator-div {
            float: left;
        }

        #pool-list {
            position: absolute;
            background-color: #ffffff;
            border: #2aabd2 1px solid;
            padding: 5px;
            left: 50px;
            width: 450px;
            z-index: 1;
        }

        #indicator-list {
            position: absolute;
            background-color: #ffffff;
            border: #2aabd2 1px solid;
            padding: 5px;
            left: 50px;
            width: 450px;
            z-index: 1;
        }

        .list-unit {
            border-bottom: #cccccc 1px solid;
            width: 90%;
        }

        .list-unit p {
            margin: 0;
        }

        .list-unit ul {
            list-style: none;
            margin-bottom: 5px;
        }

        .list-unit ul li {
            display: inline-block;
            padding: 5px;
            cursor: pointer;
        }
        .list-unit ul li:hover {
            color: #999999;
        }

    </style>
</head>
<body>
<div id="leadline">
    <div class="headline-text">
        多因子
    </div>
</div>
<div id="option-div" class="row">
    <div id="stock-pool-div" class="col-sm-5">
        <label>股池</label>
        <div id="selected-pool"></div>
        <button id="add-pool-btn" class="btn-style-1 glyphicon glyphicon-plus"></button>
        <div id="pool-list"></div>
    </div>
    <div id="indicator-div" class="col-sm-6">
        <label>指标因子</label>
        <div id="selected-indicator"></div>
        <button id="add-indicator-btn" class="btn-style-1 glyphicon glyphicon-plus"></button>
        <div id="indicator-list"></div>
    </div>
</div>
<div id="list-div">
    <div id="sec-list"></div>
    <div id="backtest-div"></div>
</div>
<script src="/static/lib/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="/static/echarts/dist/echarts.js" type="text/javascript"></script>
<script src="/static/bootstrap3.3.7/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/js/variables.js" type="text/javascript"></script>
<script src="/static/js/events.js" type="text/javascript"></script>
<script src="/static/js/functions.js" type="text/javascript"></script>
<script src="/static/js/classes.js" type="text/javascript"></script>
<script type="text/javascript">
    $("body").height(window.innerHeight);

    let stockPoolTree = {
        'broad_index': {
            'name': '交易所指数',
            '000001.SH': '上证指数',
            '399001.SZ': '深证指数',
            '399005.SZ': '中小板指',
            '399006.SZ': '创业板指',
            '000016.SH': '上证50',
            '399300.SZ': '沪深300',
            '000905.SH': '中证500',
            '000852.SH': '中证1000'
        },
        'sw_index':{
            'name': '申万指数',
            '801010': '农林牧渔',
            '801020': '采掘',
            '801030': '化工',
            '801040': '钢铁'
        },
    };

    let indicatorTree = {
        'fina_indicator': {
            'name': '财务指标',
            'eps': {
                'name': '基本每股收益'
            },
            'roe': {
                'name': '净资产收益率'
            },
            'revenue_ps': {
                'name': '每股营业收入'
            },
            'ebit_of_gr': {
                'name': '息税前利润/营业总收入'
            },
            'fcff_ps': {
                'name': '每股企业自由现金流量'
            }
        },
        'tech_indicator': {
            'name': '技术指标',
            'ma': {
                'name': '均线',
                'ma5': '5日均线',
                'ma10': '10日均线',
                'ma20': '20日均线',
                'ma30': '30日均线',
                'ma60': '60日均线',
                'ma120': '120日均线',
                'ma250': '250日均线'
            },
            'captial': {
                'name': '资金流入'
            },
            'MACD': {
                'name': 'MACD'
            },
            'KDJ': {
                'name': 'KDJ'
            },
            'RSI': {
                'name': 'RSI'
            }
        },
        'daily_indicator': {
            'name': '每日指标',
            'total_mv': {
                'name': '总市值'
            },
            'circ_mv': {
                'name': '流通市值'
            },
            'volume_ratio': {
                'name': '量比'
            }

        }
    };

    $("#pool-list").append(new StockPoolList("pool-list", stockPoolTree).createPanel());
    $("#indicator-list").append(new IndicatorList("indicator-list", indicatorTree, "selected-indicator").createPanel());

    function IndicatorList(containerId, indicatorTree, targetId){
        let container = $(`#${containerId}`);
        let target = $(`#${targetId}`);
        this.indicatorTree = indicatorTree;

        IndicatorList.prototype.createPanel = function(){
            for(let item in this.indicatorTree){
                if(this.indicatorTree.hasOwnProperty(item)){
                    // 获取该item下的所有指标
                    let indicators = this.indicatorTree[item];
                    // 放置该item的容器
                    let div = document.createElement("div");
                    $(div).addClass("list-unit");
                    // 该item的标题
                    let titleP = document.createElement("p");
                    titleP.innerHTML = indicators['name'];
                    $(div).append(titleP);
                    delete indicators['name']; // 注意此处删除会影响到原先的对象
                    // 添加该item下的各个指标
                    let ul = document.createElement("ul");
                    for(let indicator in indicators){
                        if(indicators.hasOwnProperty(indicator)){
                            let li = document.createElement("li");
                            // 获取该指标的具体内容
                            let indicatorInfo = indicators[indicator];
                            li.innerHTML = indicatorInfo['name'];
                            $(li).prop("indicator", indicator);
                            delete indicatorInfo['name'];
                            addLiEvent(li, indicatorInfo);
                            $(ul).append(li);
                        }
                    }
                    $(div).append(ul);
                    $(container).append(div);
                }
            }
        };

        function addLiEvent(li, childItems){
            $(li).click(function(){
                let div = document.createElement("div");
                $(div).addClass("selected-unit");
                let label = document.createElement("label");
                $(label).prop("indicator", $(this).prop("indicator"));
                label.innerHTML = li.innerHTML;
            })
        }
    }

    function StockPoolList(containerId, stockPoolTree){
        let container = $(`#${containerId}`);
        this.stockPoolTree = stockPoolTree;

        StockPoolList.prototype.createPanel = function(){
            for(let item in this.stockPoolTree){
                if(this.stockPoolTree.hasOwnProperty(item)){
                    // 获取该item下的所有指标
                    let indexCodes = this.stockPoolTree[item];
                    // 放置该item的容器
                    let div = document.createElement("div");
                    $(div).addClass("list-unit");
                    // 该item的标题
                    let titleP = document.createElement("p");
                    titleP.innerHTML = indexCodes['name'];
                    $(div).append(titleP);
                    delete indexCodes['name']; // 注意此处删除会影响到原先的对象
                    // 添加该item下的各个指标
                    let ul = document.createElement("ul");
                    for(let indexCode in indexCodes){
                        if(indexCodes.hasOwnProperty(indexCode)){
                            let li = document.createElement("li");
                            // 获取该指标的具体内容
                            li.innerHTML = indexCodes[indexCode];
                            $(li).prop("indexCode", indexCode);
                            //delete indicatorInfo['name'];
                            addLiEvent(li);
                            $(ul).append(li);
                        }
                    }
                    $(div).append(ul);
                    $(container).append(div);
                }
            }
        };

        function addLiEvent(li){

        }
    }
</script>
</body>
</html>